.picex-plugin-background {
	.ant-segmented {
		@apply bg-[#d9d9d9] text-[#666] drop-shadow-[0px_2px_2px_#bfbfbf];
		@apply dark:bg-[#333] dark:text-[#959595] dark:drop-shadow-[0px_2px_2px_#000000];

		.ant-segmented-item-selected {
			@apply bg-[#f8fafc] text-[#007aff] hover:text-[#007aff];
			@apply dark:bg-[#999] dark:text-[#fff] dark:hover:text-[#fff];
		}

		.ant-segmented-item-label {
			line-height: inherit;
		}
	}

	.ant-upload-wrapper.ant-upload-picture-card-wrapper {
		.ant-upload.ant-upload-select {
			width: 100%;
			height: 100%;
			border-radius: 1rem;
		}
	}

	hr {
		@apply border-[rgba(226,232,240,0.8)];
		@apply dark:border-[rgba(80,80,80,0.8)];
	}
}
