.picex-plugin-background {
	.ant-segmented {
		color: #666;
		background: #d9d9d9;
		filter: drop-shadow(0px 2px 2px #bfbfbf);

		.ant-segmented-item-selected {
			color: #007aff;
			background: #f8fafc;
		}

		.ant-segmented-item-label {
			line-height: inherit;
		}
	}

	.ant-upload-wrapper.ant-upload-picture-card-wrapper {
		.ant-upload.ant-upload-select {
			width: 100%;
			height: 100%;
			border-radius: 1rem;
		}
	}
}
